link(rel="stylesheet", href="/css/app.css" data-inline)
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect",  href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato&display=swap")

body(style="font-family: 'Lato', sans-serif; font-size: 14px; max-width: 400px; margin: auto; padding: 20px; border-top: 40px solid darkblue;")
    heading(style="text-align: center")
        p(style="padding: 10px; color: #fff; background-color: rgb(50, 255, 50); border-radius: 20px; margin-top: -10px; margin-bottom: 30px") &check;
        //- h4 Welcome to Rentz Car.

    //- img(src="https://everyevery.ng/wp-content/uploads/2019/08/Ape-Rental-Tips1.jpg", alt="car rental" width="100%")

    article(style="margin: 20px 0;")
        h3 Hello! #{user}, You just received a message 
            

    section(style="margin: 20px 0; color: #999")
        p(style="display: flex; justify-content: center;") #{name}
        p(style="display: flex; justify-content: center;") #{email}
        p(style="display: flex; justify-content: center;") #{message}
    //-     p Your Request Details are: 
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span vehicle: 
    //-         span #{vehicle},
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span Initial Payment: 
    //-         span #{payment},
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span Terms of payment: 
    //-         span %#{terms} every month,
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span Pickup Date: 
    //-         span #{date},
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span Phone Number: 
    //-         span #{phone},
    //-     p(style="display: flex; justify-content: space-between;") 
    //-         span Summary: 
    //-         span(style="color: rgb(50, 255, 50)") Success,

    section(style="display: flex; justify-content: center;")
        p Formilio

        //- a(style="text-decoration: none; padding: 12px 20px; border-radius: 20px; color: #fff; background-color: rgb(50, 255, 50); margin: 20px auto; " href="https://rentz.com") Continue to website

